@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% + env(safe-area-inset-top)); 
  overflow: hidden;
  background-color: #1A1D23;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(0px - env(safe-area-inset-top)); 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1A1D23;
}

.app-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding-top: 4rem; 
  padding-bottom: calc(env(safe-area-inset-bottom) + 2rem); 
  isolation: isolate;
}
.app-container::-webkit-scrollbar {
  display: none;
}

@keyframes dots {
  0% { content: "Loading"; }
  25% { content: "Loading."; }
  50% { content: "Loading.."; }
  75% { content: "Loading..."; }
  100% { content: "Loading"; }
}

.animate-dots::after {
  content: "";
  animation: dots 2.0s infinite;
}